<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Knowleadge About Snake</key>
	<array>
		<string>ความรู้เรื่องงู</string>
	</array>
	<key>About Programs</key>
	<array>
		<string>เวอร์ชั่นโปรแกรม</string>
		<string>เวอร์ชั่นฐานข้อมูล</string>
	</array>
</dict>
</plist>
